@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font: {
        size: 24px;
        family: $font__main;
    }
    color: $color__purple;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.container {
    display: flex;
    width: 90%;
    max-width: 940px;
    margin: 0px auto;
}

a {
    text: {
        decoration: none;
    }
    color: inherit;
}

@media screen and(max-width: $wid__tablet) {
    .container {
        max-width: 648px;
    }
}

@media screen and(max-width: $wid__phone) {
    .container {
        max-width: 384px;
    }
}