.header {
    @include section(512px);
    background: {
        image: linear-gradient(90deg, $color__bordo 10%, $color__blue 90%);
    }
    color: $color__white;
    .container {
    flex-direction: column;
        .header__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: {
                size: 16px;
            }
            text: {
                transform: uppercase;
            }
            .header__link {
                margin: 0px 20px;
                a {
                    display: block;
                }
                &::after {
                    content: '';
                    display: block;
                    width: inherit;
                    border: solid 1px $color__white;
                    transform: scaleX(0);
                    transition: {
                        property: transform;
                        duration: .5s;
                    }
                }
                &:hover::after {
                    transform: scaleX(1);
                }             
            }
        }
    }
    &__navigation {
        display: flex;
        padding-bottom: 70px;
        justify-content: space-between;
        text-align: center;
        border-bottom: solid 1px $color__white;
    }
    &__slogan {
        width: 100%;
        margin-top: 40px;
        text-align: justify;
        line-height: 2em;
    }
    @media screen and(max-width: $wid__tablet) {
        .header {
            &__links {
                justify-content: center;
            }
            &__navigation {
                flex-direction: column;
                // align-items: center;
                border: none;
            }
            &__slogan {
                text-align: center;
                margin: 200px auto;
            }
            &__logo {
                width: 100%;
                border-bottom: solid 1px $color__white;
                padding-bottom: 45px;
                margin-bottom: 15px;
            }
        }
    }
    
    @media screen and(max-width: $wid__phone) {
        .header__link, .header__links {
            display: none;
        }
    }
}